
@page {
    margin-bottom: 5pt;
    margin-top: 5pt
    }
@font-face {
    font-family: Courier;
    src: url(styles/XXXXXXXXXXXXXXXX)
    }

@page {
    margin-bottom: 5pt;
    margin-top: 5pt
    }

@page {
    margin-bottom: 5pt;
    margin-left: 0;
    margin-right: 0;
    margin-top: 5pt;
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 0;
    padding-top: 0
    }

.boxhead {
    background-color: #BBB;
    border-bottom-color: #BBB;
    border-bottom-style: solid;
    border-bottom-width: 0.5em;
    border-top-color: currentColor;
    border-top-style: none;
    border-top-width: 0;
    display: block;
    margin-bottom: 0;
    margin-top: 1.2em;
    padding-bottom: 0.1em;
    padding-left: 0.1em;
    padding-right: 0.1em;
    padding-top: 0.1em;
    text-indent: 25px
    }
.boxtext {
    background-color: #E0E0E0;
    border-bottom-color: currentColor;
    border-bottom-style: none;
    border-bottom-width: 0;
    border-top-color: currentColor;
    border-top-style: none;
    border-top-width: 0;
    display: block;
    margin-bottom: 1em;
    margin-top: 0;
    padding-bottom: 1em;
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 1em;
    text-indent: -25px
    }
.calibre {
    display: block;
    font-size: 1em;
    margin-bottom: 0;
    margin-left: 5pt;
    margin-right: 5pt;
    margin-top: 0;
    padding-left: 0;
    padding-right: 0
    }
.calibre1 {
    text-decoration: none
    }
.calibre2 {
    font-size: 1em;
    line-height: 1.2
    }
.calibre3 {
    font-weight: bold
    }
.calibre4 {
    display: block
    }
.calibre5 {
    font-style: italic
    }
.calibre6 {
    font-size: 1em
    }
.calibre7 {
    font-size: 0.75em
    }
.calibre8 {
    font-size: 0.77778em;
    line-height: 1.2;
    vertical-align: super
    }
.calibre9 {
    line-height: 1.2;
    text-decoration: none
    }
.calibre10 {
    display: table-header-group;
    vertical-align: middle
    }
.calibre11 {
    display: table-row;
    vertical-align: inherit
    }
.calibre12 {
    display: table-row-group;
    vertical-align: middle
    }
.calibre13 {
    font-size: 0.77778em
    }
.calibre14 {
    display: block;
    list-style-type: decimal;
    margin-bottom: 1em;
    margin-left: 0;
    margin-right: 0;
    margin-top: 1em
    }
.calibre15 {
    font-size: 1em;
    line-height: 1.2;
    vertical-align: sub
    }
.calibre16 {
    font-size: 0.85em;
    line-height: 1.2
    }
.calibre17 {
    display: block;
    height: 0
    }
.calibre18 {
    font-size: 0.75em;
    line-height: normal;
    vertical-align: super
    }
.calibre19 {
    display: table-row;
    vertical-align: middle
    }
.calibre20 {
    height: auto;
    width: auto
    }
.calibre21 {
    display: block;
    font-size: 1em;
    margin-bottom: 0;
    margin-left: 5pt;
    margin-right: 5pt;
    margin-top: 0;
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 0;
    padding-top: 0;
    text-align: center
    }
.eb01authortitle {
    display: block;
    font-size: 0.75em;
    line-height: 1.3em;
    margin-bottom: 1em;
    margin-left: 0;
    margin-right: 0;
    margin-top: 1em;
    orphans: 2;
    text-align: center;
    text-indent: 0;
    widows: 2
    }
.eb01bodytextlinespace {
    display: block;
    line-height: 1.3em;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
    margin-top: 1em;
    orphans: 2;
    text-align: justify;
    text-indent: 0;
    widows: 2
    }
.eb01imprint {
    display: block;
    font-size: 0.75em;
    line-height: 1.3em;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
    margin-top: 10px;
    orphans: 2;
    page-break-inside: avoid;
    text-align: center;
    text-indent: 0;
    widows: 2
    }
.eb02bodytextfullout {
    display: block;
    line-height: 1.3em;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
    orphans: 2;
    text-align: justify;
    text-indent: 0;
    widows: 2
    }
.eb03bodytextindented {
    display: block;
    line-height: 1.3em;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
    orphans: 2;
    text-align: justify;
    text-indent: 1em;
    widows: 2
    }
.eb04mainhead {
    display: block;
    font-size: 1.41667em;
    font-weight: normal;
    line-height: 1.2;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
    margin-top: 1em;
    page-break-after: avoid;
    text-align: center
    }
.eb04mainhead1 {
    display: block;
    font-size: 1.66667em;
    font-weight: normal;
    line-height: 1.2;
    margin-bottom: 2em;
    margin-left: 0;
    margin-right: 0;
    margin-top: 14%;
    page-break-after: avoid;
    text-align: center
    }
.eb04mainheadclosednum {
    display: block;
    font-size: 1.66667em;
    font-weight: normal;
    line-height: 1.2;
    margin-bottom: 0.85em;
    margin-left: 0;
    margin-right: 0;
    margin-top: 14%;
    page-break-after: avoid;
    text-align: center
    }
.eb04mainheadclosedtitle {
    display: block;
    font-size: 1.66667em;
    font-weight: normal;
    line-height: 1.2;
    margin-bottom: 2em;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
    page-break-after: avoid;
    text-align: center
    }
.eb07smallcapsmediumhead {
    display: block;
    font-size: 0.75em;
    font-weight: normal;
    line-height: 1.3em;
    margin-bottom: 0.5em;
    margin-left: 0;
    margin-right: 0;
    margin-top: 2em;
    page-break-after: avoid;
    text-align: center;
    text-transform: uppercase
    }
.eb09smallcapslargehead {
    display: block;
    font-size: 1.66667em;
    font-weight: normal;
    line-height: 1.2;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
    margin-top: 18%;
    page-break-after: avoid;
    text-align: center;
    text-transform: uppercase
    }
.eb10smallhead {
    display: block;
    font-weight: normal;
    line-height: 1.3em;
    margin-bottom: 0.5em;
    margin-left: 0;
    margin-right: 0;
    margin-top: 1.5em;
    page-break-after: avoid;
    text-align: center
    }
.eb10smallhead1 {
    display: block;
    font-size: 0.75em;
    font-style: italic;
    font-weight: normal;
    line-height: 1.3em;
    margin-bottom: 0.5em;
    margin-left: 0;
    margin-right: 0;
    margin-top: 1em;
    page-break-after: avoid;
    text-align: center
    }
.eb10smallhead2 {
    display: block;
    font-style: italic;
    font-weight: normal;
    line-height: 1.3em;
    margin-bottom: 0.5em;
    margin-left: 0;
    margin-right: 0;
    margin-top: 1em;
    page-break-after: avoid;
    text-align: center
    }
.eb13copyrighthead {
    display: block;
    font-size: 1em;
    font-weight: normal;
    line-height: 1.3em;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
    text-indent: 0;
    text-transform: uppercase
    }
.eb14copyrighttext {
    display: block;
    font-size: 0.75em;
    line-height: 1.3em;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0.5em;
    orphans: 2;
    text-align: left;
    text-indent: 0;
    widows: 2
    }
.eb15contentstext {
    display: block;
    font-size: 0.75em;
    line-height: 1.3em;
    margin-bottom: 1em;
    margin-left: 2em;
    margin-right: 0;
    margin-top: 0;
    orphans: 2;
    text-align: left;
    text-indent: 0;
    widows: 2
    }
.eb15contentstextindent {
    display: block;
    font-size: 0.75em;
    line-height: 1.3em;
    margin-bottom: 1em;
    margin-left: 2em;
    margin-right: 0;
    margin-top: 0;
    orphans: 2;
    text-align: left;
    text-indent: 1em;
    widows: 2
    }
.eb15contentstextindent1 {
    display: block;
    font-size: 0.75em;
    line-height: 1.3em;
    margin-bottom: 1em;
    margin-left: 2em;
    margin-right: 0;
    margin-top: 0;
    orphans: 2;
    text-align: left;
    text-indent: 2em;
    widows: 2
    }
.eb15contentstextindent2 {
    display: block;
    font-size: 0.75em;
    line-height: 1.3em;
    margin-bottom: 1em;
    margin-left: 2em;
    margin-right: 0;
    margin-top: 0;
    orphans: 2;
    text-align: left;
    text-indent: 1.5em;
    widows: 2
    }
.eb18epigraphsource {
    display: block;
    font-size: 0.75em;
    line-height: 1.3em;
    margin-bottom: 2em;
    margin-left: 0;
    margin-right: 1em;
    margin-top: 0;
    orphans: 2;
    text-align: right;
    text-indent: 0;
    widows: 2
    }
.eb19extrafeaturefullout {
    display: block;
    font-size: 0.75em;
    line-height: 1.3em;
    margin-bottom: 0.5em;
    margin-left: 1em;
    margin-right: 1em;
    margin-top: 0.5em;
    orphans: 2;
    text-align: left;
    text-indent: 0;
    widows: 2
    }
.eb20extrafeaturelast {
    display: block;
    font-size: 0.75em;
    line-height: 1.3em;
    margin-bottom: 0;
    margin-left: 1em;
    margin-right: 1em;
    margin-top: 0;
    orphans: 2;
    text-align: left;
    text-indent: 0;
    widows: 2
    }
.eb22extrafeaturefirst {
    display: block;
    font-size: 0.75em;
    line-height: 1.3em;
    margin-bottom: 0;
    margin-left: 1em;
    margin-right: 1em;
    margin-top: 0.5em;
    orphans: 2;
    text-align: left;
    text-indent: 0;
    widows: 2
    }
.eb23listfirst {
    display: list-item;
    font-size: 0.75em;
    line-height: 1.3em;
    margin-bottom: 0;
    margin-right: 1em;
    margin-top: 1em;
    text-align: left
    }
.eb24list {
    display: list-item;
    font-size: 0.75em;
    line-height: 1.3em;
    margin-bottom: 0;
    margin-right: 1em;
    margin-top: 0;
    text-align: left
    }
.eb25listlast {
    display: list-item;
    font-size: 0.75em;
    line-height: 1.3em;
    margin-bottom: 1em;
    margin-right: 1em;
    margin-top: 0;
    text-align: left
    }
.eb26smalltexthangingindent {
    display: block;
    font-size: 0.75em;
    line-height: 1.3em;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
    orphans: 2;
    padding-left: 1em;
    text-align: left;
    text-indent: -1em;
    widows: 2
    }
.eb28inlinecaption {
    display: block;
    font-size: 0.75em;
    line-height: 1.3em;
    margin-bottom: 1em;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
    orphans: 2;
    text-align: center;
    text-indent: 1em;
    widows: 2
    }
.endnote {
    display: block;
    font-size: 1em;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
    orphans: 2;
    padding-left: 1em;
    text-align: left;
    text-indent: -1em;
    widows: 2
    }
.eq {
    display: inline-block;
    height: auto;
    margin-bottom: 1em;
    margin-left: 0;
    margin-right: 0;
    margin-top: 1em;
    vertical-align: middle;
    width: auto
    }
.hcell {
    -webkit-hyphens: none;
    border-bottom-color: #000;
    border-bottom-style: solid;
    border-bottom-width: 1px;
    border-left-color: #000;
    border-left-style: solid;
    border-left-width: 1px;
    border-right-color: #000;
    border-right-style: solid;
    border-right-width: 1px;
    border-top-color: #000;
    border-top-style: solid;
    border-top-width: 1px;
    display: table-cell;
    font-size: 0.75em;
    font-weight: bold;
    hyphens: none;
    padding-bottom: 5px;
    padding-left: 5px;
    padding-right: 5px;
    padding-top: 5px;
    page-break-inside: avoid;
    text-align: center;
    text-indent: 0;
    vertical-align: inherit
    }
.image {
    display: inline-block;
    height: auto;
    margin-bottom: 1em;
    margin-left: 0;
    margin-right: 0;
    margin-top: 1em;
    width: auto
    }
.image1 {
    display: inline-block;
    height: 272px;
    margin-bottom: 1em;
    margin-left: 0;
    margin-right: 0;
    margin-top: 1em;
    width: 153px
    }
.image2 {
    display: inline-block;
    height: 251px;
    margin-bottom: 1em;
    margin-left: 0;
    margin-right: 0;
    margin-top: 1em;
    width: 153px
    }
.imagewrap {
    display: inline-block;
    text-align: center;
    width: 100%
    }
.kindlecenter {
    display: block;
    text-align: center
    }
.smalltable {
    border-bottom-color: #000;
    border-bottom-style: solid;
    border-bottom-width: 1px;
    border-collapse: collapse;
    border-left-color: #000;
    border-left-style: solid;
    border-left-width: 1px;
    border-right-color: #000;
    border-right-style: solid;
    border-right-width: 1px;
    border-spacing: 2px;
    border-top-color: #000;
    border-top-style: solid;
    border-top-width: 1px;
    display: table;
    margin-bottom: 1em;
    margin-left: 0;
    margin-right: 0;
    margin-top: 1em;
    page-break-inside: avoid;
    text-align: center;
    text-indent: 0;
    width: 100%
    }
.source {
    display: block;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
    orphans: 2;
    text-align: left;
    text-indent: 1em;
    widows: 2
    }
.tcell {
    -webkit-hyphens: none;
    border-bottom-color: #000;
    border-bottom-style: solid;
    border-bottom-width: 1px;
    border-left-color: #000;
    border-left-style: solid;
    border-left-width: 1px;
    border-right-color: #000;
    border-right-style: solid;
    border-right-width: 1px;
    border-top-color: #000;
    border-top-style: solid;
    border-top-width: 1px;
    display: table-cell;
    font-size: 0.75em;
    hyphens: none;
    padding-bottom: 5px;
    padding-left: 5px;
    padding-right: 5px;
    padding-top: 5px;
    page-break-inside: avoid;
    text-align: left;
    text-indent: 0;
    vertical-align: top
    }
.tcell1 {
    -webkit-hyphens: none;
    border-bottom-color: #000;
    border-bottom-style: solid;
    border-bottom-width: 1px;
    border-left-color: #000;
    border-left-style: solid;
    border-left-width: 1px;
    border-right-color: #000;
    border-right-style: solid;
    border-right-width: 1px;
    border-top-color: #000;
    border-top-style: solid;
    border-top-width: 1px;
    display: table-cell;
    font-size: 0.75em;
    hyphens: none;
    padding-bottom: 5px;
    padding-left: 5px;
    padding-right: 5px;
    padding-top: 5px;
    page-break-inside: avoid;
    text-align: left;
    text-indent: 0;
    vertical-align: inherit
    }
.upperalpha {
    display: block;
    list-style-type: upper-alpha;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
    text-align: left;
    text-indent: 0
    }

